<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    {% endif %}
    
    <ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'take_notes' %}">Take Notes</a></li>
        <li><a href="{% url 'view_notes' %}">View Notes</a></li>
    {% endif %}
    </ul>
</body>
</html>